<div class="c-section-hero" style="background-image: url({{herobg}})" id="whyatlas">
	<div class="c-big-title">
	    <div class="row">
	      	<h1 class="" >{{panel.title}}</h1>
	     </div>
	</div>
</div>