.btn-primary {
    color: #fff;
    background-color: #b8071f;
    border-color: #b8071f;
}

 .btn-primary:focus, .btn-primary:hover {
    color: #b8071f;
    background-color: #fff;
    border-color: #b8071f;
}