.c-main-attributes{
	padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    margin: 50px 0;
    border-radius: 4px;
}

.c-attributes-text {
  float:right;
  text-align: left;
 }

.c-attribute-icons{
	color: #b8071f;
	padding-bottom:30px;
}
