.c-big-title{
    font-family: "Anton";
    font-size: 52px;
    font-weight: 300;
    text-align: left;
    width: 80%;
    color: #b8071f;
}
.c-subtitle{
    font-family: "Anton";
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    width: 80%;
    color: #b8071f;
    margin-bottom : 40px;
}

.c-title{
    font-size: 20px;
    margin-bottom: 20px;
}