.c-section-footer {
    background-color: #272727;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
}
.footer{
    height: 33px;
    line-height: 33px;
    background-color: #272727;
    font-size: 1rem;
}


.footerend {
    clear: both;
    background-color: #333232;
    color: #c1c1c1;
    text-align: center;
}

.footerend a{
    color: #c1c1c1;
    text-align: center;
    padding: 10px 20px;
}

.inner {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.copyright{
    color: #c1c1c1;
    text-align: center;
    padding: 10px 20px;
}

.nav-footer ul{
    padding: 0px;
}
.nav-footer .widget{
    margin:0px;
}

.nav-footer li{
    list-style: none;
    padding:5px;
    margin: 0px;
    a{
    color: #c1c1c1;
    }
    a:hover{
    color: #b8071f;
    text-decoration: none;
    }
}







