//-----------------Baner red------------------------------------
.inner {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.top-rail {
    height: 33px;
    line-height: 33px;
    background: #cf142b;
    font-size: 1rem;
}

.top-rail a {
    text-decoration: none;
    color: #fff;
}

.toprail-links {
    float: right;
}

.toprail-links a {
    padding: 10px 20px;
}

.top-rail nav {
    float: right;
    margin-left: 10px;
}

.top-rail-links:hover{
    background: #fff;
    color: #cf142b;
    //padding: 10px 10px;
}
.top-rail .icons a:hover {
    background: #fff;
    color: #cf142b;
    padding-top: 10px;
    padding-bottom:10px;
}

//------------------Baner red off-----------------------------
// -----------------Social media------------------------------
.icons i {
    padding: 10px 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

//-----------------------------------------------------------


///SCHOOL HEADER-----------------------------------------------------------
.c-school-head {
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.c-header{
    width: 100%;
    
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem .5rem;
        max-width: 70rem;
        margin: 0 auto;
        @include media-breakpoint-down(sm) {
           
            border-top: 3px solid $brand-primary;
        }

    }


    &__logo{
        img{
            @include media-breakpoint-down(sm) {
                width: 140px;
            }
        }

    }
    &__nav{
        margin-left: auto;
    }
    &--fixed-top {
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
        z-index: 20000000;
        border-bottom: 2px solid #f0f0f0;
        background-color: rgba(254, 254, 255, 0.97);
    }
}



