.sidebar {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    background-color:#f0f0f0;
    height: 50%;
    margin-top: 50px;
}

.widget{
	margin:30px;
	a{
		color: #888;
	}
	h3{
		color: #b8071f;
		font-size:22px; 
	}
}