.sidebar {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color:#f6f6f6;
    height: 50%;
    
	.widget{
		margin:30px;
		a{
			color: #3e3d3d;
			font-size: 16px;
			&:hover{
		    		color: #b8071f;
		    	}
		}
		h3{
			color: #b8071f;
			font-size:20px; 
		}

		ul {
	  		list-style: none;
	  		margin-top: 1em;
	  		padding: 0;
	  
		  	li {
		    	margin: 0;
		    	margin-bottom: 1em;
		    	padding-left: 1.5em;
		    	position: relative;
		    
		    	&:after {
		      		content: '';
		      		height: .4em;
		      		width: .4em;
		      		background: #D2153A;
		      		display: block;
		      		position: absolute;
		      		transform: rotate(45deg);
		      		top: 10px;
		      		left: 0;
		    	}


		    
		  	}
	  
		}
	}
}
